@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

/* HERO SECTION */
.Thibault {
  background: linear-gradient(
    to right bottom,
    #fff 20%,
    hsla(0, 0%, 100%, 0.25)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
  text-shadow:
    -1px -1px 0 hsla(0, 0%, 100%, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.1);
}

.gradient-cyber {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-clip: text;
  background-size: 300% 300%;
}
